body {
  background-color: rgb(0, 0, 0) !important;
}


.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: auto;
  max-width: 100px;
  border-radius: 50%;
}

.profile-name {
  text-align: center;
  padding: 10px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.profile-about {
  text-align: center;
  padding: 2px;
  font-family: "Dosis", sans-serif;
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
}

.links {
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: 0.5px solid rgb(255, 255, 255);
  border-width: 2px;
  display: block;
  border-radius: 0px;
  font-family: "Karla", sans-serif;
  position: relative;
  font-size: 17px;
  width: 680px;
  max-width: 95%;
}

.links-in {
  padding: 5px;
  border: 0.5px solid rgba(255, 255, 255, 0);
  border-width: 1px;
  width: 30px;
  display: block;
  border-radius: 40px;
  left: 20px;
  position: absolute;
  font-size: 20px;
}

.hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: color 1s;
}

.hover:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  text-decoration: none;
  
  transform: scale(1.03);

}

.bottom-text {
  text-decoration: none;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Handlee", cursive;
}

.link-hide {
  text-decoration: none;
}
.link-hide:hover {
  text-decoration: none;
}

@media (max-width: 548px) {
  .profile-about {
    text-align: center;
    padding: 2px;
    font-family: "Dosis", sans-serif;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
  }
}

.links-footer {
  padding: 4px;
  border: 0.5px solid rgb(255, 255, 255);
  border-width: 1px;
  width: 40px;
  display: inline-block;
  border-radius: 30px;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  margin-top: 50px;
}
