.bg {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.1px);
  -webkit-backdrop-filter: blur(12.1px);
  background-image: url("/assets/img/snow.webp");
  background-attachment: fixed;

}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 100px;
  border-radius: 50%;

}

.profile-name {
  text-align: center;
  padding: 10px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.profile-about {
  text-align: center;
  padding: 2px;
  font-family: "Dosis", sans-serif;
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
}

.links {
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: 0.5px solid rgb(255, 255, 255);
  border-width: 1px;
  display: block;
  border-radius: 10px;
  font-family: "Karla", sans-serif;
  position: relative;
  font-size: 17px;
  width: 680px;
  max-width: 95%;
  transition: all 0.3s ease-in-out;
}

.links-in {
  padding: 5px;
  border: 0.5px solid rgba(255, 255, 255, 0);
  border-width: 1px;
  width: 30px;
  display: block;
  border-radius: 40px;
  left: 20px;
  position: absolute;
  font-size: 20px;
}

.hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s;
  background: rgb(255, 255, 255);
}

.hover:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  transition: all 0.2s;
  transform: scale(1.03);
}

.bottom-text {
  text-decoration: none;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Handlee", cursive;
}

.link-hide {
  text-decoration: none;
}

.link-hide:hover {
  text-decoration: none;
}

@media (max-width: 548px) {
  .profile-about {
    text-align: center;
    padding: 2px;
    font-family: "Dosis", sans-serif;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
  }
}

.links-footer {
  padding: 4px;
  border: 0.5px solid rgb(255, 255, 255);
  border-width: 1px;
  width: 40px;
  display: inline-block;
  border-radius: 30px;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  margin-top: 50px;
  color: rgb(0, 0, 0);
  transition: color 1s;
  transition: all 0.3s;
  background: rgb(255, 255, 255);

}

.links-footer:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  transition: all 0.3s;
}

.space {
  padding-top: 40px;
}

.drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}